*.sublime-project
*.sublime-workspace
*.pyc
*.log
*.DS_Store
*.egg-info
*.pkl
*.pdf
*.png
*.root
*.npy
*.npz
*.h5
*.hdf5
*.json
*.yaml
*.out
*.parquet
.coverage
coverage*.xml
__pycache__
dist
build
static
tmp
store
software
data
.data
.law
